.main {
    flex: 1;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 0 var(--sideMargins);
}

@media screen and (max-width: 500px) {
    .main {
        padding: 0 4rem 0 2rem;
    }
}