.content {
    display: flex;
    width: 100%;
    gap: 20rem
}

.content_title {
    font-size: 6.4rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.content_projects {
    flex: 1;
}

.content_controls {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content_controls>a {
    margin-bottom: 4rem;
}

.content_panels {
    flex: 2;
    max-height: 60rem;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {

    .content {
        margin-bottom: 4rem;
        flex-direction: column;
        gap: 0;
    }

    .content_controls {
        display: none;
    }

    .content_panels {
        flex-direction: column;
        max-height: none;
    }
}