.nextLink {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    padding:1rem;
    padding-left: 0px;
    color: var(--cyan);
    position: relative;
}

.nextLink::after {
    content: '';
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    width: 25%;
    height: 1px;
    background-color: var(--cyan);
    transition: width .65s ease-out;
    opacity: .7;
}

.nextLink:hover::after {
    width: 50%;
}
