.WorkButton {
    background: transparent;
    border: none;
    color: var(--cyan);
    font-size: 3.2rem;
    position: relative;
    width: 100%;
    text-align: left;
}

.WorkButton:hover {
    color: var(--cyan-light);
}

.WorkButton::after {
    position: absolute;
    content: '';
    top: 0%;
    right: 0%;
    height: 100%;
    width: 1px;
    background-color: white;
    opacity: 0;
    transition: opacity .2s ease-out;
}

.WorkButton.selected {
    color: white;
}

.WorkButton.selected::after {
    opacity: 1;

}