.WorkButton {
    background: transparent;
    border: none;
    color: var(--cyan);
    font-size: clamp(1.6rem, 2vw, 2.8rem);
    position: relative;
    width: 100%;
    text-align: left;
    height:var(--buttonHeight);
    z-index: 3;
}

.WorkButton:hover {
    color: var(--cyan-light);
}

.WorkButton.selected {
    color: white;
}

